[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Remote Terminal [Client]
Exec=/usr/bin/RTC %F
Comment=Network Administration Tool
StartupNotify=false
Encoding=UTF-8
Categories=Network;GTK;
Name=Remote Terminal Client
Comment=Network Administration Tool
